<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style_css.css') }}">

</head>
<body>

    <div>

        여기는 html영역입니다.

        <a href="/about">어바웃페이지로 이동</a>

    </div>

    <div class="daum_content">
        <h1>여기는 다음 인기검색어입니다.</h1>

        <ul>
            {% for i in range(0, list_len) %}
                <a href={{list_href[i]}}><li>{{list[i]}}</li></a>
            {% endfor %}

        </ul>


    </div>

    <div class="daum_content">
        <h1>여기는 오늘의유머</h1>
        <ul>
            {% for i in range(0, list2_len) %}
                <a href={{list2_href[i]}}><li>{{list2[i]}}</li></a>

            {% endfor %}

        </ul>

    </div>

    <div class="daum_content">
        <h1>여기는 클리앙</h1>
        <ul>
            {% for i in range(0, list3_len) %}
                <a href={{list3_href[i]}}><li>{{list3[i]}}</li></a>
            {% endfor %}

        </ul>

    </div>



</body>
</html>